@import "SCSS/mixin";
@import "SCSS/variable";

@import "SCSS/Property/Header_Container";
@import "SCSS/Property/Settings";
@import "SCSS/Property/This-bouncy";
@import "SCSS/Property/Details";
@import "SCSS/Property/Gallary";
@import "SCSS/Property/Explanation_and_functionality";
@import "SCSS/Property/Imp_and_portfol";

/* Price */

.price__container {
    @include container_size(100%, 300px);
    display: flex;
    justify-content: space-between;

}

.price__item {
    position: relative;
    @include container_size(240px, 100%);
    background-color: #ffffff;

    .item__title {
        @include container_size(100%, 80px);
        background-color: #19bd9a;
        padding: 30px 68px;
        text-align: center;

        a {
            @include font (20px, 700);
            @include text_style(uppercase);
        }
    }

    .item__offer {
        @include font(20px, 400, #81868e);
        text-align: center;
        padding: 68px 0 107px 0;

        span {
            display: block;
            @include font(42px, 400, #19bd9a);
            font-family: "Source Sans Pro", sans-serif;
        }
    }

    .item__hover {
        display: none;
        padding: 30px;

        p {
            line-height: 1;
            @include font(14px, 400, #81868e);
        }
    }
}

.price__item:hover {
    .item__title {
        position: absolute;
        top: 100%;
        transform: translateY(-100%);


    }

    .item__hover {
        display: block;
    }

    .item__offer {
        display: none;
    }

}

/* Subscribe*/
.form {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.subscribe__input {
    @include font(14px, 400, #cfd3d4);
    padding: 15px 240px 15px 20px;

    background: none;
    border: 1px solid #cfd3d4;
}

.subscribe__button {

    font-family: "Source Sans Pro", sans-serif;
    @include font (20px, 300);
    @include text_style(uppercase);

    background-color: #19bd9a;
    text-align: center;
    border: none;
    padding: 10px 60px;
    margin-left: 5px;
}


/*Footer*/

.footer{
    text-align: center;
    padding: 85px 0;
    
    .footer__title{
        @include font(20px, 700, #000);
        @include text_style(uppercase);
    }
    .footer__text{
        padding: 40px 0 60px 0;
        @include font(14px, 400, #81868e);
      
    }
    .footer__icons{
        @include font(20px, 700, #000);
        word-spacing: 10px;
    }
    .footer__icons i:nth-child(1){
        color: #3b5998;
    }
    .footer__icons i:nth-child(2){
        color: #26a6d1;
    }
     .footer__icons i:nth-child(3){
        color: #3f729b;
    }
}


/* Adaptation */

@media (max-width: 800px) {
    .header__container{
        justify-content: center;
        .header_logo{
            display: none;
        }
    }
    
}