*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 1000px;

}

.sircle {
    display: inline-block;
    border-radius: 100%;
    border: 2px solid red;

    position: relative;
    
    font-size: 10px;

   
   
}

.pos{
    position: absolute;
    left: 50%;
    top: 50%;
    
    transform: translate3d(-50%,-50%,0);
}

.sircle:nth-child(1) {
    width: 1.55cm;
    height: 1.55cm;
}

.sircle:nth-child(2) {
    width: 1.65cm;
    height: 1.65cm;
}

.sircle:nth-child(3) {
    width: 1.75cm;
    height: 1.75cm;
}

.sircle:nth-child(4) {
    width: 1.85cm;
    height: 1.85cm;
}

.sircle:nth-child(5) {
    width: 75.87621px;
    height: 75.87621px;
}

.nice_block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 50%;
    height: 200px;
}
