/* Settings */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #333;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}